/vendor/
/node_modules/
/public/build/
/public/hot
/storage/*.key
/storage/logs/*
/storage/framework/*
/storage/framework/views/*
/bootstrap/cache/*
.env
.env.*
.idea/
.DS_Store

# Ignore local SQLite databases
/database/*.sqlite*
/database/*.db
/database/*.sqlite3

# Laravel public storage symlink and artifacts
/public/storage

# PHPUnit cache
.phpunit.result.cache
